nav a{
    text-decoration: none;
    margin-right: 20px;
    margin-top: 8px;
    color: black;
    font-size: 1.2rem;
    border-bottom: 3px solid gray;
}
nav a:hover{
    color:brown;
    border-bottom: 3px solid brown;
}